<div id="<%= dom_id question %>">
  <p>
    <strong>Description:</strong>
    <%= question.description %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= question.difficulty %>
  </p>

  <p>
    <strong>Quiz:</strong>
    <%= question.quiz_id %>
  </p>

</div>
