<div id="<%= dom_id question %>">
  <p>
    <%# Description: %>
      <%= question.description %>
      <%# <strong></strong> %>
  </p>

  <p>
    Dificuldade:
    <%= question.difficulty %>
  </p>
</div>
