<div id="<%= dom_id question %>">
  <p>
    <%# Description: %>
    <strong>
      <%= link_to question.description, question_path(question) %>
    </strong>
      <%# <strong></strong> %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= question.difficulty %>
  </p>
</div>
