<h1>Quiz Disponibilizado</h1>

<%= l @quiz_availability.created_at %><br>
<%= @quiz_availability.finished_at %><br>
<%= @quiz_availability.quiz_realizations.finished.count %><br>
<%= @quiz_availability.average_score %><br>

<h1>Relatório bolado</h1>
